<html>
    <head>
        <style>
            label{
                font-size: 20px;
                color: white;
            }
        </style>
    </head>
    <body style="background-image: url('/static/a2.jpg');">
        <center><form method ='POST' action="/afterdetail/">
            <label >Username</label><br>
            <br>
            <input type='text' name='uname'><br>
            <br>
            <label>Password</label><br>
            <br>
            <input type='password' name='pswd'><br>
            <br>
            <label>Adhaar card Number</label><br>
            <br>
            <input type='number' name='newadhar'><br>
            <br>
            <label>Mobile Number</label><br>
            <br>
            <input type='number' name='newphone'><br>
            <br>
            <label >Username</label><br>
            <br>
            <input type='text' name='newuname'><br>
            <label>Password</label><br>
            <br>
            <input type='password' name='newpswd'><br>
            <br>
            <input type='submit' value='Submit'><br>
        </form></center> 
    </body>
</html>