<html>
    <head>
        {% load static %}
          <link type="text/css" rel="stylesheet" href="{% static 'users/style.css' %}">  

    </head>
    <body>
        {% include "users/afterlogin.html" %}
        {% block head %}
        {% endblock %}
        <h1 style="color: red;">{{ error }}</h1>
        <form method="POST" action="/user/afterlogin/">
            {% csrf_token %}
            {{ f.as_p }}
        <!--as_table,as_ul-->
            <input type="submit" value="SUBMIT" id="sub">
            
        </form>
    </body>
</html>